# -----------------------------------------------------------------------------
#  Archivo: pubspec.yaml
#  Descripci贸n: Configuraci贸n principal del proyecto Lector Global (rama web_only_firestore_180520251812)
#  ltima actualizaci贸n: 20/05/2025 - 20:30 (Hora de Colombia)
# -----------------------------------------------------------------------------

name: lector_global
description: "Aplicaci贸n para mejorar la comprensi贸n lectora en todos los idiomas."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  intl: ^0.19.0
  provider: ^6.0.0
  cupertino_icons: ^1.0.8
  audioplayers: ^6.4.0

  #  Firebase (actualizado para compatibilidad con Flutter Web)
  firebase_core: ^2.27.0
  firebase_auth: ^4.17.4

  google_sign_in: ^6.3.0
  plugin_platform_interface: ^2.1.8
  flutter_svg: ^2.0.7
  http: ^1.3.0
  flutter_launcher_icons: ^0.14.3
  intl_phone_field: ^3.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/
    - assets/lang/
    - assets/images/

flutter_launcher_icons:
  android: true
  ios: false
  image_path: "assets/images/logo2.png"
